gradio_imageslider
gradio==4.29.0
matplotlib
opencv-python
open3d
lmdb
#--index-url https://download.pytorch.org/whl/cu118
torch==2.0.1
#--index-url https://download.pytorch.org/whl/cu118
torchvision==0.15.2
#--index-url https://download.pytorch.org/whl/cu118
xformers==0.0.21 # should automatically install torch=2.0.1 if not already installed